<div class="container">
  <h2>Usuários</h2>

<table class="table table-striped border-secondary">
  <thead >
    <td>Nome</td>
    <td>Sobrenome</td>
    <td>...</td>
  </thead>
  <tbody>
    <tr *ngFor="let users of responseUsersList.data">
      <td>{{users.first_name}}</td>
      <td>{{users.last_name}}</td>
      <td>
        <a [routerLink]="['/update-user/{{users.id}}']">Editar</a> |
        <a [routerLink]="['/delete-user/{{users.id}}']">Remover</a>
      </td>
    </tr>
  </tbody>
</table>
</div>

