<h2>Criar usuário</h2>

<div>
  <form action="" [formGroup]="formCreateUser">
    <label for="">Nome: </label>
    <input type="text" formControlName="name" [ngModel]="usuario.name">
    <br><br>
    <label for="">Profissão: </label>
    <input type="text" formControlName="job" [ngModel]="usuario.job">
    <br><br>
    <button (click)="salvar()">Gravar</button>
  </form>
</div>

<br><br>

<div *ngIf="response">
  <h3>Criado com sucesso</h3>
  <label>Nome: {{response.name}}</label><br>
  <label>Profição: {{response.job}}</label><br>
  <label>Id: {{response.id}}</label><br>
  <label>Criado em: {{response.createdAt}}</label>
</div>
